.row {
  display: flex;
}

.row>div {
  font-size: 2em;
  background-color: lightcoral;
  margin: 0.1em;
  border-radius: 3px;
  color: white;
  padding: 0.2em;
  flex: 1;
}

.row .row>div {
  background-color: antiquewhite;
  color: black