.container {
  display: flex;
  /* align-items: flex-start; */
  /* flex-direction: column; */

}

.container {}

.container>div {
  font-size: 4vw;
  color: white;
  background-color: lightcoral;
  flex: 1;
  padding: 0.2em;
  border-radius: 3px;
  margin: 0.1em;
}