.container {
  display: flex;
  height: 90vh;
}

.col {
  display: flex;
  flex-direction: column;
}

.col div {
  font-size: 3.5vh;
  padding: 0.2em 0.7em;
  color: white;
  background-color: lightcoral;
  margin: 0.1em;
  border-radius: 3px;
  flex: 1;
}

.col:nth-child(2)>div:nth-child(1),
.col:nth-child(12)>div:nth-child(2) {
  flex: 1;
}

.col:nth-child(2)>div:nth-child(2),
.col:nth-child(12)>div:nth-child(1) {
  flex: 11;
}

.col:nth-child(3)>div:nth-child(1),
.col:nth-child(11)>div:nth-child(2) {
  flex: 2;
}

.col:nth-child(3)>div:nth-child(2),
.col:nth-child(11)>div:nth-child(1) {
  flex: 10;
}

.col:nth-child(4)>div:nth-child(1),
.col:nth-child(10)>div:nth-child(2) {
  flex: 3;
}

.col:nth-child(4)>div:nth-child(2),
.col:nth-child(10)>div:nth-child(1) {
  flex: 9;
}

.col:nth-child(5)>div:nth-child(1),
.col:nth-child(9)>div:nth-child(2) {
  flex: 4;
}

.col:nth-child(5)>div:nth-child(2),
.col:nth-child(9)>div:nth-child(1) {
  flex: 8;
}

.col:nth-child(6)>div:nth-child(1),
.col:nth-child(8)>div:nth-child(2) {
  flex: 5;
}

.col:nth-child(6)>div:nth-child(2),
.col:nth-child(8)>div:nth-child(1) {
  flex: 7;
}

.col:nth-child(7)>div:nth-child(1) {
  flex: 6;
}

.col:nth-child(7)>div:nth-child(2) {
  flex: 6;
}