* {
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: flex-start;
  background-color: blanchedalmond;
  max-width: 25rem;
  padding: 15px;
  border-radius: 5px;
}

img {
  margin-left: 15px;
  order: 1;
}

h3 {
  margin: 0 0 10px;
}