* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  max-width: 400px;
  background-color: blanchedalmond;
}

img {
  height: 70px;
  width: 70px;
}

.content1,
.content2 {
  padding-left: 20px;
}

.one {
  display: flex;
}

.two {
  display: flex;
  padding-left: 100px;
}

.icon1,
.icon2 {
  padding-top: 20px;
}