* {
  box-sizing: border-box;
}

form {
  background-color: beige;
  border-radius: 5px;
}

.container {
  display: flex;

  padding: 1.5em;
  /* height: 50vh; */
  font-size: 20px;
  padding-left: 150px;
}


.contact>input {
  width: 100%;
  padding: 1em;
  margin-bottom: 0.5em;
}

.btn {
  padding: 1em;
  background-color: grey;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 18px;
}

.radio {
  padding-left: 100px;
  padding-right: 200px;
  /* background-color: aqua; */
}

#dropdown {
  width: 100%;
  padding: 13px;
  text-align: center;
  font-size: 15px;
}