* {
  box-sizing: border-box;
}

form {
  display: flex;
  background-color: beige;
  border-radius: 5px;
  padding: 1.5em;
}

.message {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  order: 1;
}

.message>textarea {
  flex: 1;
}

.contact>input {
  width: 100%;
}

.contact>input {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.contact>button {
  padding: 0.5em;
}