* {
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
}

.main {
  display: flex;
  flex-wrap: wrap;
  /* align-items: stretch; */
  text-align: center;
}

.marvel {
  flex: 1 1 200px;
  margin: 10px;
  box-shadow: 2px 4px 6px 2px;
  background-color: thistle;
}

p {
  padding: 10px;

}

button {
  background-color: blanchedalmond;
  width: 90%;
  padding: 7px;
}