* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}

header,
footer {
    background-color: yellowgreen;
    height: 20vh;
}

header,
footer,
.nav,
.aside,
.article {
    padding: .5em;
}

.article {
    flex: 1;
}

.main {
    display: flex;
}

.nav,
.aside {
    background-color: bisque;
    flex: 0 0 20vw;
}

.main {
    min-height: calc(100vh - 40vh);
}