* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.nav {
  background-color: rgb(25, 206, 173);
  width: 15vw;
}

.header {
  background-color: greenyellow;
  width: calc(100vw - 15vw);
  height: 20vh;
}

.main1 {
  display: flex;
}


.article {
  background-color: whitesmoke;
  height: 60vh;
}

.footer {
  background-color: greenyellow;
  height: 20vh;
  width: calc(100vw - 30vw);
}

.aside1 {
  width: 15vw;
  background-color: darkkhaki;
}

.header,
.nav,
.article,
.aside,
.footer {
  padding: 10px;
}