* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  font-size: 1.2em;
}

header,
footer {
  background-color: yellowgreen;
  height: 20vh;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  width: 100%;
}

header,
footer,
nav,
aside,
article {
  padding: 0.4em;
}

nav,
aside {
  background-color: bisque;
  flex: 0 0 20vw;
}

article {
  flex: 1;
  order: -1;
}

nav {
  background-color: lightblue;
}

aside {
  background-color: blanchedalmond;
}