* {
  box-sizing: border-box;
}

body {
  font-size: 1.2em;
}

header,
footer {
  background-color: yellowgreen;
  height: 20vh;
}

.main {
  min-height: calc(100vh - 40vh);
  display: flex;
}

header,
footer,
nav,
aside,
article {
  padding: 0.4em;
}

nav,
aside {
  background-color: bisque;
  flex: 0 0 20vw;
}

article {
  flex: 1;
}

nav {
  background-color: lightblue;
}