
.indian-red {
  background: #cd5c5c;
}

.light-coral {
  background: #f08080;
}

.salmon {
  background: #fa8072;
}

.dark-salmon {
  background: #e9967a;
}

.light-salmon {
  background: #ffa07a;
}

* {
  box-sizing: border-box;
}

.child {
  font-size: 5vw;
  width: 10%;
  text-align: center;
  padding: 0.5em;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  height:100vh;
  align-items: flex-start;
}